/*!
 * Copyright 1999-2018. Plesk International GmbH. All rights reserved.
 */

#welcome .welcome-preset-buttons {
    min-height: 60px;
}

#welcome textarea#json {
    min-height: 300px;
    min-width: 300px;
}
